NTHU_en/main.aux
NTHU_en/main.bbl
NTHU_en/main.bcf
NTHU_en/main.blg
NTHU_en/main.lof
NTHU_en/main.log
NTHU_en/main.lot
NTHU_en/main.out
NTHU_en/main.pdf
NTHU_en/main.run.xml
NTHU_en/main.sta
NTHU_en/main.synctex.gz
NTHU_en/main.tdo
NTHU_en/main.toc

